body {
    padding: 100px;
    background-color: rgb(135, 23, 23);
}

table {
    border: 1px solid #000000;
    background-color: antiquewhite;
    border-spacing: 0px;
}

h1 {
    text-align: center;
}

th {
    border: 1px solid #000000;
    padding: 15px;
    text-align: center;
}

td {
    padding: 15px;
    border: 1px solid #000000;
    text-align: center;
}